h4 {

  text-align: center;
}

.false {
  border: 4px solid red;
}

.container{
  width: 100%;
  height: 100vh;
  background: #c0c0c0;
}

.cont-card{
  width: 100%;
  /* height: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.cont-logos {
  width: 100%;
  padding-bottom: .8rem;
  margin-top: 0;
  background-color: #1F89F6;
  border-radius: 0 0 40% 40%;
  transform: translateY(-10%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.logo {
  width: 40%;
  border: none;
  border-radius: 0;
  transform: translateX(25%) translateY(3px);
}

.muni{
  /* width: 60%; */
  height: 8rem;
  margin-right: 2rem;
  padding-top: 1rem;
  align-items: center;
  border-radius: 0 0 40% 40%;
  transform: translateY(-5px) translateX(-20px);
}
/* --------- Img user + informacion ---------*/

.cont-data {
  width: 80%;
  height: auto;
  border: 1px solid #e7e7e7;
  box-shadow: 3px 3px 3px rgb(130, 130, 130); 
  margin-bottom: 1rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.data-user{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.data-user p {
  padding-bottom: 0;
}

.Funciones{
  text-align: center;
}

.img-logo {
  width: 30%;
  border-radius: 50%;
  /* transform: translateX(110%) translateY(50%); */
  border: 4px solid yellowgreen;
  filter: brightness(1.1);
}
.cont-action {
  margin: 0;
  background-color: #c0c0c0;
  max-height: 110px;
  width: 90%;
  height: auto;
  border-radius: 16px;
  text-align: center;
  border: 1.5px solid whitesmoke;
}



.content-tabs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  color: #0f0f0f;
}

.tabs {
  position: relative;
  width: 90%;
  list-style: none;
  box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.1);
  background-color: #dadada;
  justify-content: space-between;
  top: 0;
  left: 0;
  color: #fff;
  display: flex;flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 150px;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  z-index: 2;
}

.active{
  background: #1F89F6;
  border-radius: 20px;
}

.indicador {
  position: absolute;
  display: flex;
  height: 54px;
  width: 150px;
  background-color: #7425CF;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
  box-shadow: 0px 10px 20px -3px #7425CF;

}

.tab-content {
  position: relative;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media(width < 700px){
  .container{
    width: 100%;
    height: auto;
    background: #c0c0c0;
  }
  .cont-data{
    width: 90%; 
  }
}

@media(width > 1000px){
  .container{
    width: 100%;
    height: 100vh;
    background: #c0c0c0;
  }
  .cont-data{
    width: 60%; 
  }
}